node_modules
.next
out
build
.env
.env.local
.DS_Store
*.log
.vercel
.turbo
coverage
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js
